<head>
	<meta charset="UTF-8">
	<title>JEE Generator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="The website of the JEE-Generator project">
	<meta name="author" content="Dominik Pieper">
	<meta name="author" content="Steffen Mork">

	<!--  styles -->
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<meta name="apple-mobile-web-app-title" content="JEE-Generator" />

	<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/images/jee-logo-114.png" sizes="114x114" type="image/png" />
	<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/images/jee-logo-120.png" sizes="120x120" type="image/png" />
	<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/images/jee-logo-144.png" sizes="144x144" type="image/png" />
	<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/images/jee-logo-152.png" sizes="152x152" type="image/png" />
	<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/images/jee-logo-167.png" sizes="167x167" type="image/png" />
	<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/images/jee-logo-180.png" sizes="180x180" type="image/png" />

	<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.png">

	<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" type='text/css'>
	<link href="{{ site.baseurl }}/css/shield-responsive.css" rel="stylesheet" type='text/css'>
	<link href='{{ site.baseurl }}/css/fonts.css' rel='stylesheet' type='text/css'>
	<link href="{{ site.baseurl }}/css/prettyPhoto.css" rel="stylesheet" media="screen" type='text/css'> 
	<link href="{{ site.baseurl }}/css/prettify.css" type="text/css" rel="stylesheet"/> 
	<link href="{{ site.baseurl }}/css/style.css" rel="stylesheet" type='text/css'>

	<!--[if lt IE 9]>
	<link href="/css/iebugs.css" rel="stylesheet" type='text/css'>
	<![endif]-->
</head>
