<header class="site-header">
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="{{ site.baseurl }}/index.html"><img alt="JEE-Generator" src="{{ site.baseurl }}/images/JavaEE-Generator-Transparent.gif"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{{ site.baseurl }}/aboutus.html">&Uuml;ber uns</a></li>
					<li><a href="{{ site.baseurl }}/documentation/index.html">Dokumentation</a></li>
					<li><a href="{{ site.baseurl }}/download.html">Download</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>
</header>
