---
layout: default
updateSite:
 release: http://www.jee-generator.org/updates/release/
 snapshot: http://www.jee-generator.org/updates/snapshot/

download:
  kepler:
    osx64: http://sourceforge.net/projects/jeegen/files/distro/kepler/eclipse-jee-generator-kepler-SR2-macosx-cocoa-x86_64.tar.gz
    osx32: http://sourceforge.net/projects/jeegen/files/distro/kepler/eclipse-jee-generator-kepler-SR2-macosx-cocoa.tar.gz
    win64: http://sourceforge.net/projects/jeegen/files/distro/kepler/eclipse-jee-generator-kepler-SR2-win32-x86_64.zip
    win32: http://sourceforge.net/projects/jeegen/files/distro/kepler/eclipse-jee-generator-kepler-SR2-win32.zip
    lin64: http://sourceforge.net/projects/jeegen/files/distro/kepler/eclipse-jee-generator-kepler-SR2-linux-gtk-x86_64.tar.gz
    lin32: http://sourceforge.net/projects/jeegen/files/distro/kepler/eclipse-jee-generator-kepler-SR2-linux-gtk.tar.gz
  luna:
    osx64: http://sourceforge.net/projects/jeegen/files/distro/luna/eclipse-jee-generator-luna-SR2-macosx-cocoa-x86_64.tar.gz
    osx32: http://sourceforge.net/projects/jeegen/files/distro/luna/eclipse-jee-generator-luna-SR2-macosx-cocoa.tar.gz
    win64: http://sourceforge.net/projects/jeegen/files/distro/luna/eclipse-jee-generator-luna-SR2-win32-x86_64.zip
    win32: http://sourceforge.net/projects/jeegen/files/distro/luna/eclipse-jee-generator-luna-SR2-win32.zip
    lin64: http://sourceforge.net/projects/jeegen/files/distro/luna/eclipse-jee-generator-luna-SR2-linux-gtk-x86_64.tar.gz
    lin32: http://sourceforge.net/projects/jeegen/files/distro/luna/eclipse-jee-generator-luna-SR2-linux-gtk.tar.gz
  mars:
    osx64: http://sourceforge.net/projects/jeegen/files/distro/mars/eclipse-jee-generator-mars-RC1-macosx-cocoa-x86_64.tar.gz
    win64: http://sourceforge.net/projects/jeegen/files/distro/mars/eclipse-jee-generator-mars-RC1-win32-x86_64.zip
    win32: http://sourceforge.net/projects/jeegen/files/distro/mars/eclipse-jee-generator-mars-RC1-win32.zip
    lin64: http://sourceforge.net/projects/jeegen/files/distro/mars/eclipse-jee-generator-mars-RC1-linux-gtk-x86_64.tar.gz
    lin32: http://sourceforge.net/projects/jeegen/files/distro/mars/eclipse-jee-generator-mars-RC1-linux-gtk.tar.gz
---
<div id="page">
	<div class="download-banner banner">
		<div class="container clearfix">
			<div class="col-md-4">
				<table class="pricing">
					<tfoot>
						<tr>
							<td></td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td class="focus">
								<h1>Update Sites</h1>
								<h2>Use Update Manager in Eclipse</h2>
							</td>
						</tr>
						<tr>
							<td style="text-align: center;">
								<a href="{{page.updateSite.release}}"
									class="btn btn-primary btn-lg"
									style="width: 70%;">Stable Release</a>
							</td>
						</tr>
						<tr>
							<td style="text-align: center;">
								<a href="{{page.updateSite.snapshot}}"
									class="btn btn-primary btn-lg"
									style="width: 70%;">Latest Build Snapshot</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-md-4">
				<table class="pricing">
					<tfoot>
						<tr>
							<td></td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td class="focus">
								<h1>Full Kepler Eclipse</h1>
								<h2>Just Download and Unzip</h2>
							</td>
						</tr>
						<tr>
							<td style="text-align: center; white-space: nowrap;">
								<a href="{{page.download.kepler.osx64}}"
									class="btn btn-primary btn-lg"
									style="width: 70%;">Max OS X 64 Bit</a>
							</td>
						</tr>
						<tr>
							<td style="text-align: center; white-space: nowrap;">
								<a href="{{page.download.kepler.lin64}}"
									class="btn btn-primary btn-lg"
									style="width: 70%;">Linux 64 Bit</a>
							</td>
						</tr>
						<tr>
							<td style="text-align: center; white-space: nowrap;">
								<a href="{{page.download.kepler.lin32}}"
									class="btn btn-primary btn-lg"
									style="width: 70%;">Linux 32 Bit</a>
							</td>
						</tr>
						<tr>
							<td style="text-align: center; white-space: nowrap;">
								<a href="{{page.download.kepler.win64}}"
									class="btn btn-primary btn-lg"
									style="width: 70%;">Windows 64 Bit</a>
							</td>
						</tr>
						<tr>
							<td style="text-align: center; white-space: nowrap;">
								<a href="{{page.download.kepler.win32}}"
									class="btn btn-primary btn-lg"
									style="width: 70%;">Windows 32 Bit</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-md-4">
				<table class="pricing">
					<tfoot>
						<tr>
							<td></td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td class="focus">
								<h1>Full Luna Eclipse</h1>
								<h2>Just Download and Unzip</h2>
							</td>
						</tr>
						<tr>
							<td style="text-align: center; white-space: nowrap;">
								<a href="{{page.download.luna.osx64}}"
									class="btn btn-primary btn-lg"
									style="width: 70%;">Max OS X 64 Bit</a>
							</td>
						</tr>
						<tr>
							<td style="text-align: center; white-space: nowrap;">
								<a href="{{page.download.luna.lin64}}"
									class="btn btn-primary btn-lg"
									style="width: 70%;">Linux 64 Bit</a>
							</td>
						</tr>
						<tr>
							<td style="text-align: center; white-space: nowrap;">
								<a href="{{page.download.luna.lin32}}"
									class="btn btn-primary btn-lg"
									style="width: 70%;">Linux 32 Bit</a>
							</td>
						</tr>
						<tr>
							<td style="text-align: center; white-space: nowrap;">
								<a href="{{page.download.luna.win64}}"
									class="btn btn-primary btn-lg"
									style="width: 70%;">Windows 64 Bit</a>
							</td>
						</tr>
						<tr>
							<td style="text-align: center; white-space: nowrap;">
								<a href="{{page.download.luna.win32}}"
									class="btn btn-primary btn-lg"
									style="width: 70%;">Windows 32 Bit</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="container clearfix">
		<div class="col-md-12">
{{content}}
		</div>
	</div>
</div>
